html, body {
    height: 100%;
    width: 100%;
    background-image: url(/img/space.jpg);
}

.row {
    flex-wrap: nowrap;
}

body {
    display: flex;
    flex-direction: column;
    flex: 0 1 0;
}

img {
    width: 37px;
    height: 37px;
}

.space {
    content: url(/img/tiles/empty.png);
}

.star {
    content: url(/img/tiles/star_tile.png);
}

.planet {
    content: url(/img/tiles/planet_tile.png);
}

.asteroid {
    content: url(/img/tiles/asteroid_tile.jpg);
}

.space_uber {
    content: url(/img/ships/space_uber.png);
}

.scout_ship {
    content: url(/img/ships/scout_ship.png);
}

.space_barge {
    content: url(/img/ships/space_barge.png);
}

.space_station {
    content: url(img/tiles/space_station_tile.jpg);
}

.tardis {
    content: url(img/ships/tardis.png);
}


